$red: #ED1C24;
$orange: #F15A29;
$yellow: #FFDE17;
$green: #2BB673;
$blue: #27AAE1;
$indigo: #4927e1;
$violet: #7F3F98;

// Alt colours:
$lilac: #e6d6f8;
$gray: #5f5f5f;
$light-gray: #b9b9b9;

// primary colour system:
$amanziblue1: #9FDCF4;
$amanziblue2: #00ACD4;
$amanziblue3: #1B75BC;
$amanziblue4: #1572A6;
$amanziaqua5: #70C8BB;
$amanziaqua6: #07A9A8;
$amanziaqua7: #0E7186;

$amanziaqua8: #235D90;

$red: #ed1111;
$orange: #ed8a11;
$yellow: #edd711;
$green: #11ed3d;
$blue: #11a0ed;
$indigo: #2b11ed;
$violet: #9511ed;
